//-- Aysel Amrahli
//-- ayselamrahli@gmail.com
//-- github.com/AyselAmrahli


// *variables for styles
$theme-color:#009E8E;
$text-color:#7A7A7A;
$light-gray:#F9F9F9;


// *media queries
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";